body {
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif;
    min-width: 1440px;
  
}

.container-fluid {
    padding: 0em 4em;
}

/* TYPOGRAPHY */

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3em;
    line-height: 56px;
}

.section1Header p {
    font-size: 1rem;
    line-height: 30px;
}

/* HEADER */

#header {
  height: 820px;
  color: white;
  background-image: url('images/homepage/hero-bg-desktop.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4em 4em;
}

#headerText {
    width: 50%;

}

#logo {
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    position: relative;
    z-index: 2;
}

h1{
    margin-top: 2.5em;
    margin-bottom: 0.2em;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 72px;


}

p {
    margin-bottom: 3em;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 30px;


}

.btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px;;
    letter-spacing: 2px;
    padding: 20px 45px;   
    font-weight: 00;
 
}

/* SECTION 1 */

#enjoyablePlaceDesktop {
    margin-left: 4em;
    position: relative;
    top: -10%;
}

#locallySourcedDesktop {
    position: relative;
    right: -30%;
}

.section1Header {
   position: relative;
   bottom: -200px;
   left: 100px;
   width: 40%;
}

.section2Header {
    margin-top: 23%;
    width: 40%;
}



#greyBox1 {
    height: 320px;
    width: 895px;
    background-color: #5C6779 ;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: 129%;
    left: 0px;
    z-index: -1;

}

#greyBox2 {
    height: 320px;
    width: 895px;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 75px 0px 0px 0px;
    float: right;
    position: relative;
    bottom: 385px;
    right: -5%;
    z-index: -1;
}

/* MEDIA QUERIES */


/* TABLET: 425 - 768 */
/* MOBILE: 320 - 425 */




/* LAPTOP: 768  - 1024 */

@media only screen and (max-width: 1024px) {
    body {
        max-width: 1440px;
    }

    .container {
        margin: 1em 3em;
    }

    header h1 {
        margin-top: 2em;
    }

    img {
        margin-left: 4em;
  
    }

    /* TYPOGRAPHY */

    p {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .section1Header p {
        font-size: 1.5rem;
    }


/* TABLET: 425 - 768 */




/* MOBILE: 320 - 425 */










/* 

h1 {
    font-weight: 700;
    color: white;
    padding: 65px 0px 130px 10px;
    font-size: 2.5rem;
}

#section1 {
    height: 1463px;
}

#headerContent {
    padding: 0px 0px 153px 167px;
    width: 50%;
}

#edHeader {
    color: white;
    font-weight: 300;
    font-size: 8vh;
    line-height: 85px;
    letter-spacing: -0.8px;
    margin-bottom: 35px;
}

.pWhite {
    color: white;
    font-size: 1.9vh;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.225px;
    margin-bottom: 35px;
}

.button-white {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    letter-spacing: 2px;
    padding: 20px 45px;
}

#headerBlack {
    height: 100%;
    width: 33%;
    background-color: ;
    position: absolute;
    bottom: 0px;
    left: -1%;
}

main {
  
    background-color: white;
}

#enjoyablePlaceDesktop {
    position: relative;
    top: -65px;
    margin-left: 167px;
    margin-bottom: 9%;
    z-index: 1;
}

#enjoyablePlaceHeader {
    display: block;
    text-align: left;
    width: 30%;
    position: absolute;
    right: 10%;
    bottom: -55%;
    line-height: 27px;
}

#enjoyablePlaceHeader>h2 {
   font-weight: 700;
   margin-bottom: 4%;
   font-size: 2.5rem;
   line-height: 60px;
}

#greyBox {
    height: 320px;
    width: 895px;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: 132%;
    z-index: -auto;
}

/* RIGHT SECTION */

#theMostLocallyDesktop {
    position: absolute;
    top: 193% ;
    left: 40%;
    margin-left: 167px;
    z-index: 1;
}

#theMostLocallyHeader {
    display: block;
    text-align: left;
    width: 30%;
    position: absolute;
    left: 10%;
    bottom: -155%;
    line-height: 27px;
}

#theMostLocallyHeader>h2 {
   font-weight: 700;
   margin-bottom: 4%;
   font-size: 2.5rem;
   line-height: 60px;
}

#greyBoxRight {
    height: 320px;
    width: 65%;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 75px 0px 0px 0px;
    position: absolute;
    top: 232%;
    right: 0px;
    z-index: -auto;
}

.lines {
    position: relative;
    left: 82%;
    top: 220px;
    z-index: 1;
    width: 160px;
    height: 6px;
    background-color: #9E7F66;
    margin-bottom: 8px;
}

/* HIGHLIGHTS MENU SECTION */

#highlightsMenuSection {
    width: 1440px;
    height: 761px;
    display: flex;
    position: relative;
    top: -80px;
    background-color: black;
    color: white;
    display: flex;
}



#highlightsMenuHeader {
    display: block;
    text-align: left;
    width: 30%;
    position: absolute;
    left: 10%;
    bottom: 40%;
    line-height: 27px;
}

#highlightsMenuHeader>h2 {
    font-weight: 700;
    margin-bottom: 4%;
    font-size: 2.5rem;
    line-height: 60px;
   
 }

 #highlightsMenuFood {
     justify-content: stretch;
 } */


