body {
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif;
    min-width: 1440px;
    margin: 0 auto;
  
}

.container {
    padding: 0px;
}

.container-fluid {
    padding: 0em 5em;
}

/* TYPOGRAPHY */

h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 0.4em;
    line-height: 56px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 35px;
}

.section1Header p, .section2Header p {
    font-size: 1.3rem;
    line-height: 30px;
}

.menuItemsP {
    font-size: 1rem;
    margin-bottom: 0px;
}

/* HEADER */

#header {
  height: 820px;
  color: white;
  background-image: url('images/homepage/hero-bg-desktop.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4em 4em;
}


#headerText p {
    width: 40%;
    font-size: 1rem;
}

#logo {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
}

h1{
    margin-top: 2.0em;
    margin-bottom: 0.2em;
    font-size: 4.5rem;
    font-weight: 200;
    line-height: 84px;
    width: 60%;


}

p {
    margin-bottom: 2em;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 30px;


}

.btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px;;
    letter-spacing: 2px;
    padding: 20px 60px;   
    font-weight: 00;
}

.btn:hover {
    background-color: #FFFFFF; 
    color: #17192B;
    border-color: #17192B;
}

.btn:focus {
    background-color: #FFFFFF; 
    color: #17192B;
    border-color: #17192B;
}

.blackButton {
    background-color: black;
    border: 1px solid black;
}

/* SECTION 1 */

.sectionOneImgs {
    position: relative;
}

#enjoyablePlaceDesktopImg {
    margin-left: 4em;
    position: relative;
    top: -10%;
    width: 90%;
}

#locallySourcedDesktopImg {
    position: relative;
    top: -12%;
    right: 1%;
    width: 137%;
}

#familyGatheringImg {
    width: 90%;
    margin-top: 11em;
    position: absolute;
    
}

.patternDivide {
    margin-bottom: 3.4em;
}

.patternDivide2 {
    position: absolute;
    top: 10%;
    right: 103%;
}

#patternLines1 {
  width: 38%;
  position: absolute;
  top: 30%;
  right: -60%;

}

#patternLines2 {
    width: 25%;
    position: absolute;
    top: 20%;
    left: -5%;
}

.section1Header {
   position: relative;
   bottom: -180px;
   left: 100px;
   width: 40%;
}

.section2Header {
    margin-top: 25%;
    width: 40%;
}



#greyBox1 {
    height: 320px;
    width: 895px;
    background-color: #5C6779 ;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: 37%;
    left: -10%;
    z-index: -1;

}

#greyBox2 {
    height: 320px;
    width: 895px;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 75px 0px 0px 0px;
    float: right;
    position: absolute;
    top: 37%;
    right: -65%;
    z-index: -1;
}

#greyBox3 {
    height: 320px;
    width: 895px;
    background-color: #5C6779 ;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: -1%;
    left: -69%;
}

/* SECTION 2 */

#section2 {
    width: 1440px;
    height: 761px;
    background-color: black;
    color: white;
}

#highlightsMenuHeader {
    width: 40%;
    margin: auto 0;
    margin-top: 16%;
}

#highlightsMenuFood {
    width: 51.4%;
    margin-left: 6em;
    margin-top: 22%;
}

img {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menuItem {
    position: relative;
    z-index: 1;
}

.patternLine {
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: -1;

}

#hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1.5em 0em 1.5em 0em; padding: 0; 
}


/* SECTION 3 */

#section3 {
    width: 1440px;
    height: 1000px;
    background-color: white;
}

#familyGatheringDiv {
    position: relative;
}

#familyGatheringHeading {
 margin-top: 15em;
}

#slideSelections {
    /* CHANGE OPACITY WHEN SELECTED */
    color: #4C4C4C;
    opacity: 0.5;
    margin-top: 5em;
    position: relative;
}

/* MEDIA QUERIES */

/* TABLET: 425 - 768 */
/* MOBILE: 320 - 425 */




/* LAPTOP: 768  - 1024 */

@media only screen and (max-width: 1024px) {
    body {
        max-width: 1440px;
    }

    .container {
        margin: 1em 3em;
    }

    header h1 {
        margin-top: 2em;
    }

    img {
        margin-left: 4em;
  
    }

    /* TYPOGRAPHY */

    p {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .section1Header p {
        font-size: 1.5rem;
    }


/* TABLET: 425 - 768 */




/* MOBILE: 320 - 425 */










/* 

h1 {
    font-weight: 700;
    color: white;
    padding: 65px 0px 130px 10px;
    font-size: 2.5rem;
}

#section1 {
    height: 1463px;
}

#headerContent {
    padding: 0px 0px 153px 167px;
    width: 50%;
}

#edHeader {
    color: white;
    font-weight: 300;
    font-size: 8vh;
    line-height: 85px;
    letter-spacing: -0.8px;
    margin-bottom: 35px;
}

.pWhite {
    color: white;
    font-size: 1.9vh;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.225px;
    margin-bottom: 35px;
}

.button-white {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    letter-spacing: 2px;
    padding: 20px 45px;
}

#headerBlack {
    height: 100%;
    width: 33%;
    background-color: ;
    position: absolute;
    bottom: 0px;
    left: -1%;
}

main {
  
    background-color: white;
}

#enjoyablePlaceDesktop {
    position: relative;
    top: -65px;
    margin-left: 167px;
    margin-bottom: 9%;
    z-index: 1;
}

#enjoyablePlaceHeader {
    display: block;
    text-align: left;
    width: 30%;
    position: absolute;
    right: 10%;
    bottom: -55%;
    line-height: 27px;
}

#enjoyablePlaceHeader>h2 {
   font-weight: 700;
   margin-bottom: 4%;
   font-size: 2.5rem;
   line-height: 60px;
}

#greyBox {
    height: 320px;
    width: 895px;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: 132%;
    z-index: -auto;
}

/* RIGHT SECTION */

#theMostLocallyDesktop {
    position: absolute;
    top: 193% ;
    left: 40%;
    margin-left: 167px;
    z-index: 1;
}

#theMostLocallyHeader {
    display: block;
    text-align: left;
    width: 30%;
    position: absolute;
    left: 10%;
    bottom: -155%;
    line-height: 27px;
}

#theMostLocallyHeader>h2 {
   font-weight: 700;
   margin-bottom: 4%;
   font-size: 2.5rem;
   line-height: 60px;
}

#greyBoxRight {
    height: 320px;
    width: 65%;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 75px 0px 0px 0px;
    position: absolute;
    top: 232%;
    right: 0px;
    z-index: -auto;
}

.lines {
    position: relative;
    left: 82%;
    top: 220px;
    z-index: 1;
    width: 160px;
    height: 6px;
    background-color: #9E7F66;
    margin-bottom: 8px;
}

/* HIGHLIGHTS MENU SECTION */

#highlightsMenuSection {
    width: 1440px;
    height: 761px;
    display: flex;
    position: relative;
    top: -80px;
    background-color: black;
    color: white;
    display: flex;
}



#highlightsMenuHeader {
    display: block;
    text-align: left;
    width: 30%;
    position: absolute;
    left: 10%;
    bottom: 40%;
    line-height: 27px;
}

#highlightsMenuHeader>h2 {
    font-weight: 700;
    margin-bottom: 4%;
    font-size: 2.5rem;
    line-height: 60px;
   
 }

 #highlightsMenuFood {
     justify-content: stretch;
 } */


