body {
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif;
    max-width: 100%;
    margin: 0 auto;

}

/* LAYOUT */

.container {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.container-fluid {
    padding: 0em 5em;
}

/* TYPOGRAPHY */

h1{
    margin-top: 2.0em;
    margin-bottom: 0.2em;
    font-size: 4.5rem;
    font-weight: 200;
    line-height: 84px;
    width: 65%;

}

h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 0.4em;
    line-height: 56px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 35px;
}

p {
    margin-bottom: 2em;
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}

/* IMGS */

.sectionOneImgs {
    position: relative;
}

#enjoyablePlaceDesktopImg, 
#locallySourcedDesktopImg,
#familyGatheringImg {
    -webkit-box-shadow: 0px 4px 25px -1px rgba(151,151,151,0.27); 
    box-shadow: 0px 4px 25px -1px rgba(151,151,151,0.27);
}



#enjoyablePlaceDesktopImg {
    margin-left: 4em;
    position: relative;
    top: -10%;
    width: 65vh;
}

#locallySourcedDesktopImg {
    position: relative;
    top: -12%;
    width: 65vh;
}

#familyGatheringImg {
    width: 90%;
}

/* BUTTONS */

a, 
a:hover,
a:focus,
a:visited{
    text-decoration: none !important;
    color: inherit;
}

.btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px;;
    letter-spacing: 2px;
    padding: 20px 55px;   
}

#button {
    outline: none !important;
    box-shadow: none;
}

.btn:hover,
.btn:focus {
    background-color: #FFFFFF; 
    color: #17192B;
    border-color: #17192B;
}

.blackButton {
    color: white !important;
    background-color: black;
    border: 1px solid black;
}

.blackButton:hover {
    color: black !important;
}


/* HEADER */

#header {
  height: 820px;
  color: white;
  background-image: url('images/homepage/hero-bg-desktop.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0.1em 4em;
  overflow: auto;
}

#headerText {

}

#headerText p {
    width: 40%;
    font-size: 1rem;
}

#logo {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
}

/* SECTION 1 */

.patternDivide {
    margin-bottom: 3.4em;
}

#patternLines1 {
  width: 38%;
  position: absolute;
  top: 30%;
  right: -55%;
}

.section1Header1 {
   position: relative;
   bottom: -180px;
   left: 100px;
   width: 40%;
}

.section1Header2 {
    margin-top: 25%;
    width: 40%;
}


#greyBox1 {
    height: 320px;
    width: 895px;
    background-color: #5C6779 ;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: 37%;
    left: -11.5%;
    z-index: -1;
}

#greyBox2 {
    height: 320px;
    width: 895px;
    background-color: #5C6779;
    opacity: 0.10;
    border-radius: 75px 0px 0px 0px;
    float: right;
    position: absolute;
    top: 35%;
    right: -66.2%;
    z-index: -1;
}

/* SECTION 2 */

#section2 {
    padding-bottom: 10%;
    background-color: black;
    color: white;
}

#highlightsMenuHeader {
    margin: auto 0;
    margin-top: 16%;
    width: 43%;
}

#highlightsMenuFood {
    margin-top: 20%;
    margin-left: 3.7em;
}

img {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menuItemsP {
    font-size: 1rem;
    margin-bottom: 0px;
}

.menuItem {
    position: relative;
    z-index: 1;
}

.patternLine {
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: -1;

}

#hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1.5em 0em 1.5em 0em; padding: 0; 
}

/* SECTION 3 */

#section3 {
    margin-top: 8%;
    background-color: white;
}

#greyBox3 {
    height: 320px;
    width: 80%;
    background-color: #5C6779 ;
    opacity: 0.10;
    border-radius: 0px 75px 0px 0px;
    position: absolute;
    top: -23%;
    left: -17.5%;
}

#patternLines2 {
    width: 25%;
    position: absolute;
    top: -7%;
    left: -5%;
}

#familyGatheringDiv {
    position: relative;
}

#familyGatheringHeading {  
    margin: 15% 0%;
}

#slideSelections {
    color: #4C4C4C;
    opacity: 0.5;
    margin-top: 5em;
    position: relative;
}

#familyGathering1 {
    color: black;

}

#familyGathering1, #familyGathering2, #familyGathering3:hover {
    cursor: pointer;
}

#section3HR{
    position: absolute;
    top: -2%;
    right: 107%;
    height: 1px;
    width: 100px;
    border: 1px solid #9E7F66;
    opacity: 100%;
}

/* SECTION 4 */

#section4 {
    background-image: url('images/homepage/ready-bg-tablet@2x.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

#section4 h2 {
   margin: 8% 0%;
}

#section4 .btn {
    margin-top: 15%;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
}

.footerSection {
   padding: 6.2% 0% 0%;
}

/* BOOKINGS.HTML */

nav {
    margin-top: 50px;
}

#bookingHeader {
    background-image: url('images/booking/hero-bg-desktop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600;
    color: white;
    padding: 0.1em 9em;
}

/* RESERVATION FORM */

#bookingForm {
    position: relative;
    display: flex;
    justify-content: center;
}

form {
    position: absolute;
    width: 80%;
    top: 50%;
    padding: 1em 2em;
    background-color: white;
    -webkit-box-shadow: 0px 4px 25px -1px rgba(151,151,151,0.27); 
    box-shadow: 0px 4px 25px -1px rgba(151,151,151,0.27);
    color: black;
}

.input1 {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.6em 1em 0.6em 1em;
    outline: none;
}

.input2 {
    width: 20%;
    margin: 0em 0em 1.3em 1.26em;
    padding: 0.3em 1.1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.input2b {
    margin: 0em 0em 1.3em 1.3em;
}

select {
    width: 20%;
    padding: 0.45em 1em 0.45em 1em;
    margin-left: 1.38em;
    border: none;
    border-bottom: 1px solid black;
}

#amountOfPeople {
    border-bottom: 1px solid black;
    align-content: center;
    text-align: center;
}

#minusIcon{
    position: absolute;
    top: 0%;
    left: 10%;
    padding: 20px;
    width: 13%;
}

#plusIcon {
    position: absolute;
    top: -5%;
    right: 10%;
    padding: 20px;
    width: 12.6%;
}

form #button {
width: 100%;
}

/* BOOKINGS SECTION 1 */

#bookingSection1 {
    height: 320PX;
    width: 1440px;
    background-color: white;
    z-index: -1;
}

#bookingGrayBox {
position: absolute;
left: 0%;
}

#bookingPatternLines {
    position: absolute;
    left: 50%;
    top: 55%;
}


/* MEDIA QUERIES */


/* TABLET: 425 - 1200 */

@media only screen and (max-width: 1199px) {
    body {
    
    }

/* TYPOGRAPHY */

h1{
    font-size: 4rem;
    font-weight: 200;
    line-height: 84px;
    width: 70%;
    margin: 0% auto;
}

h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 0.4em;
    line-height: 56px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 35px;
}

p {
    margin: 0% auto;
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}

/* IMAGES */

#enjoyablePlaceDesktopImg {
    content: url("images/homepage/enjoyable-place-tablet@2x.jpg");
    right: 0px;
    left: 0px;
    margin: 0em;
    width: 80%;
}

#locallySourcedDesktopImg {
    content: url("images/homepage/locally-sourced-tablet@2x.jpg");
    width: 145%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin-left: 26px;
}

#familyGatheringImg {
    content: url("images/homepage/family-gathering-tablet@2x.jpg");
    width: 75%;
}

/* HEADER */

#header {
    color: white;
    background-image: url('images/homepage/hero-bg-tablet@2x.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0.1em 4em;
    height: 1150px;
  }

 #header h2 a {
     display: flex;
     justify-content: center;
     margin-top: 60%;
}

h1 {
    margin: 3% auto;
}
  
  #headerText {
      text-align: center;
  }
  
  #headerText p {
      width: 80%;
      margin-bottom: 3%;
      font-size: 1rem;
  }
  
  #logo {
      color: white;
      font-weight: 600;
      font-size: 1.2em;
      position: relative;
  }

  /* SECTION1 */

  #enjoyablePlaceDiv, #locallySourcedDiv {
      display: flex;
      justify-content: center;
  }

  .section1Header1, .section1Header2 {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0% auto 10%;
    width: 70%;
    text-align: center;
 }

 #greyBox1 {
    top: 60%;
    left: -35%;
}

#greyBox2 {
    width: 600px;
    top: 125%;
    right: -50%;
}

.patternDivide {
    margin-bottom: 2.2em;
}

#patternLines1 {
    width: 30%;
    top: 70%;
    right: -40%;
  }

  /* SECTION2 */

  #highlightsMenuHeader {
      width: 70%;
      margin: 10% auto;
      text-align: center;
  }

  #highlightsMenuFood {
      width: 75%;
      margin: 0px auto;
  }

  /*  SECTION 3 */

  #patternLines2 {
      width: 18%;
      left: 75px;
      
  }

  #familyGatheringDiv {
      display: flex;
      justify-content: center;
    
  }
 
  #familyGatheringHeading {
      text-align: center;
      justify-content: center;
      margin: 0px 0px 150px 0px;
  }

#slideSelections {
    display: flex;
    justify-content: center;
    margin: 3.5em 0em 2.5em 0em;
}

/* SLIDE SELECTION HOVER EFFECT */

.slideSelectionOptions {
    position: relative;
  }
  .slideSelectionOptions:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    left: 200%;
    position: absolute;
    background: #9E7F66;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .slideSelectionOptions:hover:after { 
    width: 20%; 
    left: 39.7%; 
  }
  /* ................................ */

#slideSelections hr {
    display: none;
}

.slideSelectionOptions {
    padding: 0em 3em;

}

#familyGatheringHeading p {
    width: 50%;
}

#familyGatheringHeading .btn {
    padding: 1.1em 0em;
    width: 25%;
    align-self: center;
    margin-top: 1.7em;
}

/* SECTION 4 */

#section4 {
    text-align: center;
}

#section4 h2 {
    margin-bottom: 25px;
}

#section4 .btn {
    margin: 0px 0px 70px 0px;
}

/* FOOTER */

#footerText1 {
    margin: 0px;
    padding: 0px;
}

.footerText2 {
    margin: 50px 0px 50px 0px;
  }





/* MOBILE: 767px */

